/*------------
    RESET
-------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------
    GENERAL
-------------*/
body{
    font-family: "cabin";
    color: #23272A;

}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

button{
    font-family: "cabin", sans-serif;
    background-color: white;
    padding: 15px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    color: #23272A;
}

button:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s;
}

.container{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}


/*------------
    HEADER
-------------*/
header{
    background-color: #265DE8;
    color: white;
    padding: 10px;
    line-height: 34px;
}

.header-container > *{
    padding: 4px;
}

.logo{
    width: 25%;
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.login{
    width: 25%;
    text-align: end;
}
/*------------
    HERO
-------------*/
.hero{
    background-image: url(img/jumbo.png);
    background-size: cover;
    min-height: 500px;
    padding: 50px;
}

.hero-div{
    max-width: 800px;
    margin: auto;
    text-align: center;
    color: white;
}

.hero-div h1{
    font-size: 48px;
    margin: 40px;
}

.hero-div p{
    margin-bottom: 30px;
    line-height: 2;
    font-size: larger;
}

.hero-div button{
    font-size: 16px;
    margin: 0 10px 0 10px;
    padding: 15px;
}

.black-button{
    color: white;
    background-color: #23272A;
}
/*------------
    MAIN
-------------*/
.section{
    background-color: white;
    min-height: 600px;
    padding: 50px;
}

.section-img{
    padding: 50px;
    width: 65%;
    min-height: 500px;
    margin-right: 50px;
}

.section-text{
    padding: 100px 40px;
    width: 35%;
    min-height: 500px;
    margin-left: -100px;
}

.section-text h2{
    font-size: 40px;
    font-weight: bold;
}

.section-text p{
    line-height: 1.5;
    margin-top: 30px;
    font-size: larger;
    font-weight: lighter;
}

.section-grey{
    background-color: #F6F6F6;
}

.special-text{
    margin-left: 100px;
}

.special-img{
    margin-right: -50px;

}

.last-section{
    background-color: #D3D3D3;
    min-height: 1000px;
    padding: 50px;
}

.last-section-img{
    width: 1200px;
    min-height: 900px;
    background-color: #228B22;
    border: dashed;
    margin: auto;
}
/*------------
    FOOTER
-------------*/
.info-section{
    background-color: #23272A;
    min-height: 630px;
    padding: 10px 0 40px;
}

.info{
    min-height: 575px;
}

.info-1{
    width: 30%;
    background-color: #F08080;
}

.info:not(.info-1){
    width: calc(70%/4);
    background-color: #20B2AA;
}

.footer-section{
    background-color: #23272A;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.special-container{
    margin-top: 30px;
    justify-content: space-between;
    background-color: #7FFFD4;
    padding: 20px 0;
}

.special-container > *{
    padding: 10px;
    background-color: #FEB6C1;
}
